.pagEditEnc{
    background: #2C3E50;
    border-radius: 20px;
    margin: auto;
    margin-top: 10%;
    width: 76%;
    padding: 2%;
}

.pagEncData{
    background: #2C3E50 ;
    border-radius: 20px;
    margin: auto;
    margin-top: 3%;
    width: 80%;
    padding: 6%;
    padding-top: 3%;
}

.cabeEditPreg{
    background:  -webkit-linear-gradient(to right, #7f8c8d, #2C3E50);
    background:  linear-gradient(to left, #ffff, black);
    padding-bottom: 0.5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.linkEdit{
    margin-left: 2%;
}

.descText{
    text-align: center;
    color: black;
    width: 50%;
    padding: 0.2%;
    font-size: 100%;
    border: black 0.5px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 10px;
}

.nameText{
    text-align: center;
    color: black;
    width: 28%;
    padding: 0.2%;
    font-size: 100%;
    border: black 0.5px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: auto;
    margin-top: 10px;
    margin-left: 50px;
}

.numbUsuEnc{
    text-align: center;
    color: black;
    width: 7%;
    padding: 0.2%;
    font-size: 100%;
    border: black 0.5px solid;
    margin-top: 10px;
}

.idEnc{
    background-color: red;
    text-align: center;
    color: white;
    width: 5%;
}

.id{
    background-color: red;
    border-top-left-radius: 20px;
    text-align: center;
    color: white;
    width: 5%;
}

.campEnc{
    background-color: #7f8c8d;
    box-sizing: border-box;
    text-align: center;
    width: 45%;
    padding: 0.2%;
    margin: auto;
    border-left: black 0.5px solid;
}

.campEncUsu{
    background-color: #7f8c8d;
    box-sizing: border-box;
    text-align: center;
    width: 5%;
    margin: auto;
    border-left: black 0.5px solid;
}

.titCampEnc{
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    width: 30%;
    padding: 7px;
    margin: auto;
    border-bottom: black 0.5px solid;
}

.titCampEncUsu{
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    width: 7%;
    padding: 7px;
    margin: auto;
    border-bottom: black 0.5px solid;
}

.titLastEnc{
    background-color: white;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 30%;
    padding: 7px;
    margin: auto;
    border-bottom: black 0.5px solid;
}

label{
    color: #ffff;
}